/* Estilos de Glassmorphism */
.container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.fixed-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar-inner {
  background:transparent;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.table {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-content {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Estilos adicionales para los botones y los formularios */
.btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
}

/* Estilos para el paginado */
.pagination {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glassmorphism-row {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.glassmorphism-label {
  color: rgb(0, 0, 0);
}

.glassmorphism-select {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.glassmorphism-button {
  background-color: rgba(0, 0, 255, 0.795);
  color: rgb(255, 255, 255);
  border: true;
}